<h4>MD5 Converter</h4>
<form role="form" name="md5Form" >
  <div class="form-group">
    <label for="md5Field">
      Value
    </label>
    <input type="text" class="form-control" id="md5Field" name="md5Field" [(ngModel)]="value" (keyup)="convert()" />
  </div>
  <div class="input-group" *ngIf="!!result">
      <p class="form-control">{{ result }}</p>
      <div class="input-group-append">
        <button class="btn btn-secondary" (click)="copyToClipboard()">
          <i class="fas fa-copy"></i>
          Copy
        </button>
      </div>
  </div>
  <p class="alert alert-success mt-1" *ngIf="copied">
    Copiado!
  </p>
</form>
