<div class="form-row">
  <div class="col-8 offset-2">
      <button class="btn btn-block btn-sm"
      [ngClass]="{ 'btn-danger': !!errorReason, 'btn-success': !!parsed && parsed.length, 'btn-secondary':!parsed && !errorReason }"
      (click)="selectFile()">
        <span class="d-block mt-1"><i class="fas fa-file-download"></i></span>
        <span class="d-block">{{ filePath ? filePath : 'Choose a file' }}</span>
      </button>
  </div>
  <div class="col-12 mt-3" *ngIf='!!parsed && parsed.length'>
    <div class="row mb-2">
        <div class="col-7">
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm" (click)="add()">
              Add
            </button>
            <button *ngIf="parsed.length > 1" class="btn btn-sm btn-secondary" (click)="add(true)" >
              Replace
            </button>
        </div>
      </div>
      <div class="col-5 text-right">
        <ng-container *ngIf="parsed.length > 1">
          Count:<strong>{{parsed.length}}</strong>
        </ng-container>
      </div>
    </div>
    <div *ngFor="let cmd of parsed; let i = index;">
      <div class="cmd-header">
        <strong data-toggle="collapse" attr.data-target='{{ "#cmd-item-" + i }}' aria-expanded="false" class="p-2 d-block">{{ cmd.name }}</strong>
      </div>
      <div id="{{ 'cmd-item-' + i }}" class="collapse p-2 collapsed mb-1">
        <span >{{ cmd.cmdStr }}</span>
      </div>
    </div>
  </div>
  <input type='file' class="hidden-file" #fileSelector (change)="fileChanged($event)">
  <div class="col-md-12 p-3 text-center" *ngIf="!!errorReason">
    <div class="d-block invalid-feedback" *ngIf="errorReason === 'custom'">
      <span>{{ errorCustomMessage }}</span>
    </div>
    <div class="d-block invalid-feedback" *ngIf="errorReason === 'badFile'">
      <span>Formato inválido, selecione um arquivo do tipo JSON (*.json)</span>
    </div>
    <div class="d-block invalid-feedback" *ngIf='errorReason === "parseError"'>
      <span>o conteúdo do arquivo não é do formato JSON</span>
    </div>
    <div class="d-block invalid-feedback" *ngIf='errorReason === "invalidFormat"'>
      <span>O arquivo selecionado não possui dados válidos para importação</span>
    </div>
  </div>
</div>
