<div class="row">
  <div class="col-7">
    <h2>Commands</h2>
  </div>
  <div class="col-5">
    <help-tools></help-tools>
  </div>
  <div class="col-xs-12 col-sm-12">
    <hr>
  </div>
</div>
<div class="row" *ngIf="!selectedCommand">
  <div class="col-12 col-md-7">
    <div class="input-group">
      <input class="form-control form-control-sm" type="text" name="term" [(ngModel)]="term">
      <div class="input-group-append">
        <button class="btn btn-secondary btn-sm">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-5 mt-2">
    <div class="form-group text-right">
        <div class="btn-group">
          <button class="btn btn-sm btn-secondary btn-hover-span" (click)="setCmd()">
            <!-- Novo -->
            <i class="fas fa-file-code"></i>
            <span class="ml-2">Novo</span>
          </button>
          <button class="btn btn-sm btn-secondary btn-hover-span" data-toggle="modal" data-target="#commandModal" (click)="resetImport()">
            <i class="fas fa-file-download"  title="Import"></i>
            <span class="ml-2">Import</span>
          </button>
            <button class="btn btn-sm btn-secondary btn-hover-span" (click)="exportCommandList()">
              <i class="fas fa-file-upload"></i>
              <span class="ml-2">Export</span>
            </button>
        </div>
    </div>
  </div>
  <div class="col-12" *ngIf="!commandList || !commandList.length">
    <div class="alert alert-secondary">
      There's no commands here, please <strong class="as-link" data-toggle="modal" data-target="#commandModal" (click)="resetImport()" >import</strong> some or create a <strong class="as-link" (click)="setCmd()">new one</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table *ngIf="!selectedCommand" class="table table-striped table-hover table-row-pointer">
      <tbody>
        <tr *ngFor="let cmd of (commandList | insensitiveSearch:term:'name')" (dblclick)="setCmd(cmd)">
          <td class="text-break">{{ cmd.name }}</td>
          <td class="text-right">
            <div class="dropdown command-list-dropdown">
                <button class="btn btn-link btn-ellipsis m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item" (click)="setCmd(cmd)">
                    <i class="fas fa-edit"></i>
                    Editar
                  </button>
                  <button class="dropdown-item" (click)="excluir(cmd)">
                    <i class="fas fa-trash"></i>
                      Excluir
                    </button>
                </div>
            </div>
              <!-- <div class="btn-group btn-group-sm">
                  <button class="btn btn-secondary btn-hover-span m-0" (click)="setCmd(cmd)">
                      <i class="fas fa-edit"></i>
                      <span class="ml-2">Editar</span>
                  </button>
                  <button class="btn btn-danger btn-hover-span m-0" (click)="excluir(cmd)">
                      <i class="fas fa-trash"></i>
                      <span class="ml-2">Excluir</span>
                  </button>
              </div> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" >
  <div class="col-sm-12">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="row">
          <div class="col-8">
              <div class="btn-group" *ngIf="!!selectedCommand">
                <button class="btn btn-secondary" [ngClass]="{ 'active': preview }" (click)="doPreview()">
                    <i class="fas fa-caret-square-right"></i>
                    <span class="ml-2">Preview</span>
                </button>
                <button class="btn btn-secondary" [ngClass]="{ 'active': !preview }" (click)="startEdit()">
                    <i class="fas fa-edit"></i>
                    <span class="ml-2">Edit</span>
                </button>
              </div>
          </div>
          <div class="col-4 text-right" *ngIf="!!selectedCommand">
              <div class="btn-group">
                  <button type="button" class="btn btn-secondary ml-0 mr-0" (click)="selectedCommand = null; term = ''">
                    <i class="fas fa-backspace bt-copy"></i>
                    <span class="ml-2">Voltar</span>
                  </button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row cmd-title" [hidden]="!selectedCommand" >
      <div class="col-9">
        <h3 class="cmd-name" >
          {{ commandName || 'Novo comando' }}
        </h3>
      </div>
      <div class="col-3 text-right">
          <button type="button" class="btn btn-sm btn-secondary btn-hover-span ml-0 mr-0" (click)="exportSingleCmd()">
            <i class="fas fa-upload bt-copy"></i>
            <span class="ml-2">Export</span>
          </button>
          <!-- <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-secondary btn-hover-span ml-0 mr-0" (click)="selectedCommand = null; term = ''">
                <i class="fas fa-backspace bt-copy"></i>
                <span class="ml-2">Voltar</span>
              </button>
          </div> -->
      </div>
    </div>
    <toaster #saveAlert></toaster>
    <form role="form" name="cmdForm" #form="ngForm" [hidden]="!selectedCommand || preview" >
    <div class="form-group" [ngClass]="{ 'input-error': !name.valid && (name.dirty || submitted) }">
      <label for="name">
        Name
        <span class="field-error" *ngIf="!name.valid  && (name.dirty || submitted)">Preencha o nome</span>
      </label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="commandName" (change)="updateName($event)" #name="ngModel" required />

    </div>
      <div class="form-group" [ngClass]="{ 'input-error': !cmd.valid && (cmd.dirty || submitted) }">
        <label for="cmd">
          Command Expression
          <span class="field-error" *ngIf="!cmd.valid && (cmd.dirty || submitted)">Preencha o comando</span>
        </label>
        <textarea class="form-control rounded-0" id="cmd" name="cmd" [(ngModel)]="commandStr" (mouseenter)="autoGrowTextZone($event)" (keyup)="autoGrowTextZone($event)" (change)="updateCommandStr($event)" #cmd="ngModel" required></textarea>
    </div>
    <button type="button" class="btn btn-secondary" (click)="save()">
      Save
    </button>
  </form>
</div>
  <div class="col preview-container rounded m-3 p-3" *ngIf="!!selectedCommand && preview">
    <h4>Preview</h4>
    <ng-container *ngIf="!!selectedCommand.parameters && selectedCommand.parameters.length">
      <div class="row" *ngFor="let p of selectedCommand.parameters; let index=index;">
        <div class="col-md-8">
            <div class="form-group" >
              <label for="{{index}}-{{p.name}}">
                {{p.label}}
              </label>
              <input type="text" class="form-control" name="{{index}}-{{p.name}}" [(ngModel)]="p.value" required />
            </div>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <div class="col-6">
          <button type="button" class="btn btn-secondary" *ngIf="!!selectedCommand.parameters && selectedCommand.parameters.length" (click)="generateCmd()">
            Generate
          </button>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn btn-secondary btn-sm" *ngIf="!!generatedCommand" (click)="copyToClipboard()">
          <i class="fas fa-copy bt-copy" ></i>
          Copy
        </button>
      </div>
    </div>
    <div *ngIf="generatedCommand" class="cmd-result-area">
      <pre class="cmd-result rounded bg-secondary">{{ generatedCommand }}
      </pre>
    </div>
  </div>
</div>

<div class="modal fade" id="commandModal" tabindex="-1" role="dialog" aria-labelledby="commandModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commandModalLabel">
            <span >Import</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" #btnCloseModal aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <app-file-selector id="fileImporter" #fileImporter (importSuccess)="importSuccess()"></app-file-selector>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
