<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7">
    <h2>Commands</h2>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
    <help-tools></help-tools>
  </div>
  <div class="col-xs-12 col-sm-12">
    <hr>
  </div>
</div>
<div class="row" *ngIf="!selectedCommand">
  <div class="col-md-6">
    <div class="form-group">
      <input class="form-control" type="text" name="term" [(ngModel)]="term">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group text-right">
      <button class="btn btn-success" (click)="setCmd()">
        <!-- Novo -->
        <i class="fas fa-file-code"></i>
      </button>
      &nbsp;
      <button class="btn btn-success" data-toggle="modal" data-target="#commandModal" (click)="action = 'import'">
        <i class="fas fa-file-download"  title="Import"></i>
      </button>
      &nbsp;
        <button class="btn btn-primary" data-toggle="modal" data-target="#commandModal" (click)="action = 'export'">
          <i class="fas fa-file-upload"></i>
        </button>
    </div>
  </div>
</div>
<div class="row">
  <table *ngIf="!selectedCommand" class="table table-striped">
    <tbody>
      <tr *ngFor="let cmd of (commandList | insensitiveSearch:term:'name')" (dblclick)="setCmd(cmd)">
        <td>{{ cmd.name }}</td>
        <td class="text-right cmd-icons">
          <i class="fas fa-file-code" (click)="setCmd(cmd)"> &nbsp;</i>
          <i class="fas fa-trash" (click)="excluir()"></i></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row" >
  <div class="col-sm-12">
    <!-- <ul class="nav nav-tabs cmd-tabs" *ngIf="!!selectedCommand">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{ 'active': preview }" (click)="doPreview()">Preview</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [ngClass]="{ 'active': !preview }" (click)="startEdit()">Edit</a>
      </li>
    </ul> -->
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row mb-md-4" role="tablist" *ngIf="!!selectedCommand">
          <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 active" [ngClass]="{ 'active': preview }" href="javascript:void(0)" (click)="doPreview()" >
              <i class="fas fa-caret-square-right"></i>&nbsp;&nbsp;Preview
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 active" [ngClass]="{ 'active': !preview }" href="javascript:void(0)" (click)="startEdit()" >
              <i class="fas fa-edit"></i>&nbsp;&nbsp;Edit
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row cmd-title" [hidden]="!selectedCommand" >
      <div class="col-xs-12 col-md-11">
        <h3 class="cmd-name" >
          {{ commandName || 'Novo comando' }}
        </h3>
      </div>
      <div class="col-md-1">
        <span class="pull-right fas fa-times" (click)="selectedCommand = null; term = ''">
        </span>
      </div>
    </div>
    <toaster #saveAlert></toaster>
    <form role="form" name="cmdForm" #form="ngForm" [hidden]="!selectedCommand || preview" >
    <div class="form-group" [ngClass]="{ 'input-error': !name.valid && (name.dirty || submitted) }">
      <label for="name">
        Name
        <span class="field-error" *ngIf="!name.valid  && (name.dirty || submitted)">Preencha o nome</span>
      </label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="commandName" (change)="updateName($event)" #name="ngModel" required />

    </div>
      <div class="form-group" [ngClass]="{ 'input-error': !cmd.valid && (cmd.dirty || submitted) }">
        <label for="cmd">
          Command Expression
          <span class="field-error" *ngIf="!cmd.valid && (cmd.dirty || submitted)">Preencha o comando</span>
        </label>
        <!-- <input type="text" class="form-control" id="cmd" name="cmd" [(ngModel)]="commandStr" (change)="updateCommandStr($event)" #cmd="ngModel" required /> -->
        <textarea class="form-control rounded-0" id="cmd" name="cmd" [(ngModel)]="commandStr" (mouseenter)="autoGrowTextZone($event)" (keyup)="autoGrowTextZone($event)" (change)="updateCommandStr($event)" #cmd="ngModel" required></textarea>
    </div>
    <button type="button" class="btn btn-primary" (click)="save()">
      Save
    </button>
  </form>
</div>
  <div class="col-md-12 preview-container border rounded" *ngIf="!!selectedCommand && preview">
    <h4>Preview</h4>
    <ng-container *ngIf="!!selectedCommand.parameters && selectedCommand.parameters.length">
      <div class="row" *ngFor="let p of selectedCommand.parameters; let index=index;">
        <div class="col-md-8">
            <div class="form-group" >
              <label for="{{index}}-{{p.name}}">
                {{p.label}}
              </label>
              <input type="text" class="form-control" name="{{index}}-{{p.name}}" [(ngModel)]="p.value" required />
            </div>
        </div>
      </div>
    </ng-container>
    <button type="button" class="btn btn-primary" *ngIf="!!selectedCommand.parameters && selectedCommand.parameters.length" (click)="generateCmd()">
      Generate
    </button>
    <div *ngIf="generatedCommand" class="cmd-result-area">
      <pre class="cmd-result border rounded">
        <i class="fas fa-copy bt-copy" (click)="copyToClipboard()"></i>
        {{ generatedCommand }}
      </pre>
    </div>
  </div>
</div>

<div class="modal fade" id="commandModal" tabindex="-1" role="dialog" aria-labelledby="commandModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commandModalLabel">
            <span *ngIf="action === 'import'">Import</span>
            <span *ngIf="action === 'export'">Export</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>
