<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <h1 class="navbar-brand"><i class="fas fa-terminal"></i> CMD Notes</h1>
        <button id="btn-responsive" class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="btn btn-toolbar">
          <div class="btn-group-hover-span btn-group-sm" >
            <ng-container *ngFor="let th of themeList">
                <button class="btn btn-secondary" [ngClass]="{ 'btn-theme-active': currentTheme === th.name }" (click)="changeTheme(th.name)">
                  <i class="fas fa-{{th.icon}}"></i>
                  <span class="ml-2">{{th.name}}</span>
                </button>
            </ng-container>
            <!-- <ng-container *ngIf="themeList2">
                <div class="dropdown" >
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ currentTheme }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" *ngFor="let th of themeList2" [ngClass]="{ 'btn-theme-active': currentTheme === th.name }" (click)="changeTheme(th.name)">
                        <i class="fas fa-{{th.icon}}"></i>
                        <span class="ml-2">{{th.name}}</span>
                    </button>
                  </div>
              </div>
            </ng-container> -->
            <button class="ml-2 btn btn-secondary btn-pointer d-sm-none" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
          </div>
        </div>
        <!-- <div class="btn btn-toolbar d-none">
            <div class="btn-group btn-group-hover-span" role="group" aria-label="Theme selector">
              <button type="button" class="btn btn-secondary" [ngClass]="{ 'btn-theme-active': currentTheme === 'light' }" (click)="changeTheme('light')">
                <i class="fas fa-sun"></i>
                <span class="ml-2">Light</span>
              </button>
              <button type="button" class="btn btn-secondary" [ngClass]="{ 'btn-theme-active': currentTheme === 'dark' }" (click)="changeTheme('dark')">
                <i class="fas fa-moon"></i>
                <span class="ml-2">Dark</span>
              </button>
            </div>
            <button class="ml-2 btn btn-secondary btn-pointer d-sm-none" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>
        </div> -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row d-sm-none">
        <div class="col-12">
            <div class="collapse" aria-expanded="false" id="nav1">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a [routerLink]="['/commands']" routerLinkActive="active" class="nav-link">
                      <i class="fas fa-terminal"></i>
                      <span class="ml-2">Commands</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/wiki']" routerLinkActive="active" class="nav-link">
                      <i class="fas fa-book"></i>
                      <span class="ml-2">WiKi</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/password']" routerLinkActive="active" class="nav-link">
                      <i class="fas fa-key"></i>
                      <span class="ml-2">Password</span>
                    </a>
                  </li>
                </ul>
              </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12 mt-sm-4">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 d-none d-sm-block p-0 m-0">
            <ul class="list-group route-menu p-0 m-0">
              <li [routerLink]="['/commands']" routerLinkActive="active" class="list-group-item"><i class="fa fa-terminal"></i> <span>Commands</span></li>
              <li [routerLink]="['/wiki']" routerLinkActive="active" class="list-group-item"><i class="fas fa-book"></i> <span>Wiki</span> </li>
              <li [routerLink]="['/password']" routerLinkActive="active" class="list-group-item"><i class="fas fa-key"></i> <span>Passwords</span></li>
            </ul>
        </div>
        <div class="col-12 col-sm-8 col-md-9 ml-lg-4 col-lg-8 main-content card">
          <router-outlet></router-outlet>
        </div>
      </div>
		</div>
  </div>
</div>


