<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2" >
			<div class="page-header">
				<div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="logo"></div>
            <h1>
              Cmd notes
            </h1>
          </div>
          <div class="col-xs-6 col-md-6" style="padding-top: 7px;">
            <help-tools></help-tools>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <ul class="cmd-list">
            <li class="cmd-item">
              <a [routerLink]="['/commands']" routerLinkActive="active">Commands</a>
            </li>
            <li class="cmd-item">
              <a [routerLink]="['/wiki']" routerLinkActive="active">Wiki</a>
            </li>
          </ul>
          <!-- <ul class="cmd-list">
            <li class="bt-area">
              <div class="button-box text-right">
                  <button class="btn btn-success btn-small" (click)="setCmd()">
                    <i class="fas fa-plus"></i>
                  </button>
              </div>
            </li>
            <li class="cmd-item" *ngFor="let item of commandList" (click)="setCmd(item)">
                <div class="row">
                  <div class="cmd-item-text">
                    {{ item.name }}
                  </div>
                  <div class="cmd-item-delete">
                    <i class="fas fa-trash text-right" (click)="excluir(item)"></i>
                  </div>
                </div>
            </li>
          </ul> -->
        </div>
        <div class="col-xs-12 col-md-8 main-content">
          <router-outlet></router-outlet>
        </div>
      </div>
		</div>
  </div>

</div>
