/* You can add global styles to this file, and also import other style files */
body {
  display: none;
}
body.themed {
  display: block;
}
.logo {
  float: left;
  background-image: url(/assets/cmd.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-top: 11px;
  margin-right: 10px;
}

.space-h {
    height: 20px;
}
.hidden-file {
    display: none !important;
}

p.xpath-error {
  border: 1px solid #881515;
}
p.xpath-error > span {
  padding-left: 15px;
  display: block;
}

p.xpath-error > span.xpath-header {
  border-bottom: 1px solid #881515;
  font-weight: bold;
  color: #881515;
  background: #f5c6cb;
}
.btn.save-file {
  margin-left: 10px;
}
#parsed-data {
  font-size: 0.8em;
}
span.obj-expander {
  color: blue;
}
span.obj-expander:hover {
  cursor: pointer;
  text-decoration: underline;
}

.table-danger.critical {
  font-weight: bolder;
  color: #881515;
  background: #f46a79;
}

.table-hover .table-danger.critical:hover {
  background-color: #f38995;
}

table#parsed-data td.action {
  width: 10%;
}
table#parsed-data td.xpath-value {
  word-break: break-word;
  width: 45%;
}

.btn.btn-hover-span > span, .btn-group-hover-span .btn > span {
  display: none;
  font-size: 0.8em;
}
.btn.btn-hover-span:hover > span, .btn-group-hover-span .btn:hover > span {
  display: inline-block;
}

.table-row-pointer tr {
  cursor: pointer;
}

/* Dark theme */
.theme-dark .btn-theme-active {
  color: #fff;
  background-color: #2b2b2b;
  border-color: #2b2b2b;
}

.theme-dark .preview-container  {
  background-color: #303030;
}

/* List group - sidebar */
.theme-dark .list-group.route-menu .list-group-item {
  color: #fff;
  background-color: #444;
  border-color: #444;
  cursor: pointer;
  outline: none;
}

.theme-dark .list-group.route-menu .list-group-item:hover {
  color: #fff;
  /* background-color: #313131;
  border-color: #2b2a2a; */
  background-color: #2b2a2a;
  border-color: #242424;
}

.theme-dark .list-group.route-menu .list-group-item.active {
  background-color: #2b2a2a;
  border-color: #242424;
}
/* List group - end sidebar */


.theme-dark .form-control {
  color: #444;
  background-color: #d2d2d2;
}

.theme-dark .form-control:focus {
  background-color: #e0e0e0;
  border-color: #f2f2f2;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

/* Light them */
.theme-light .btn-theme-active {
  background-color: #707b7b;
}

.theme-light .preview-container  {
  background-color: #ecf0f1;
}

